.img-link {
  background-size: contain;
  background-position: center;
  border-radius: 10px;
  margin: 7px;
  box-shadow: 5px 5px 25px rgba(0,0,0,0.4);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.raise {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: $secondary;
  }
}
